<nav class="navbar navbar-expand-lg head-bg" role="navigation">
  <a class="navbar-brand" href="#">Raffle Test</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
